{% extends 'base.html' %}
{% block content %}

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <img class="card-image-top mx-auto" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/1460144_669560269731064_1299040822_n.jpg?_nc_cat=104&_nc_sid=e007fa&_nc_ohc=4idYk3jsSvkAX-Vaxlo&_nc_ht=scontent-sjc3-1.xx&oh=74ff9856e3e5431269f3a9accf4181e1&oe=5EBC7C81" alt="">
            <div class="card-body">
                <h4 class="card-title">Tina</h4>
                <div class="card-text">
                    What started with an open mind and curiosity turned into full fledged determination. Nine year massage therapy freelancer jumping into tech. Combining an affinity and thirst for technology & science based practices with a creative perspective conducive to problem solving. Uses intimate interpersonal experiences to facilitate harmonious team communication. Values ethical business practices and impacting society with innovation.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <img style="width: 20rem;" class="card-image-top mx-auto" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/56158358_2040779426034901_1475624422147620864_n.jpg?_nc_cat=110&_nc_sid=85a577&_nc_oc=AQmG3RrwONUOCFjhySfLdX_b7DzYT0UYqgoQUcjzKaQg2AfrdfmOow6vrQKIDM2OdC0&_nc_ht=scontent-lax3-1.xx&oh=05f564c036e89f691d1641e9cfcb2d88&oe=5EBB3822" alt="">
            <div class="card-body">
                <h4 class="card-title">Jake Johnson</h4>
                <div class="card-text">
                    I'm a self driven software engineer with a creative mindset. Growing up around computers, I became a programmer early on, and I enjoy exploring a wide variety of topics within the field. I'm quick to learn new concepts and can provide many outside-the-box ideas. I also have a strong interest in cryptocurrencies and blockchain technology and in 2018 I co-founded the Cryptocurrency Club at Santa Clara University. When I'm not programming I enjoy surfing, snowboarding, playing lacrosse, or watching football (the Chargers will be good again some year).
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}