{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="container">
        <div class="content">
        <h2 class="name">Tina</h2>
        <p>
        What started with an open mind and curiosity turned into full fledged determination. Nine year massage therapy freelancer jumping into tech. Combining an affinity and thirst for technology & science based practices with a creative perspective conducive to problem solving. Uses intimate interpersonal experiences to facilitate harmonious team communication. Values ethical business practices and impacting society with innovation.
        </p>
        <img src="../static/img/tina.jpg">
    </div>
    <div class="content">
        <h2 class="name">Jake Johnson</h2>
        <p>
            I'm a self driven software engineer with a creative mindset. Growing up around computers, I became a programmer early on, and I enjoy exploring a wide variety of topics within the field. I'm quick to learn new concepts and can provide many outside-the-box ideas. I also have a strong interest in cryptocurrencies and blockchain technology and in 2018 I co-founded the Cryptocurrency Club at Santa Clara University. When I'm not programming I enjoy surfing, snowboarding, playing lacrosse, or watching football (the Chargers will be good again some year).
        </p>
        <img src="../static/img/jake.jpg">
    </div>
</div>
{% endblock %}