{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div class="row mt-4">
    <div class="home-column col-md-3 mr-4">
        <div>
            Title
        </div>
        <div>
            Game Instructions
        </div>
    </div>
    <div class="home-column col-md-5">
        <div>
            Title
        </div>
        <div>
            Game description
        </div>
    </div>
    <div class="home-column col-md-3 ml-4">
        <div>
            Title
        </div>
        <div>
            Login Stuff
        </div>
    </div>
</div>


{% endblock %}