{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

  <div class="header">
        <h1>Welcome back, {{ username }}</h1>
        <a href="{% url 'new_character' %}" class="btn btn-secondary">Add Character</a>
  </div>
  <div>
    {% for character in characters %}
    <div class="content">
      <div>
        <h3 >{{ character.name }}</h5>
        <div>Age: {{ character.age }}</div>
        <div>Location: {{ character.location }}</div>
        <div>Occupation: {{ character.occupation }}</div>
        <ul>
            <a href="{% url 'profile' %}{{character.id}}/" class="btn btn-secondary">Play</a>
            <a href="{% url 'edit_character' character.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'delete_character' character.id %}" class="btn btn-secondary">Delete</a>
        </ul>
      </div>
      <div>
        <div>Speed: {{ character.speed }}</div>
        <div>Stamina: {{ character.stamina }}</div>
        <div>Strength: {{ character.strength }}</div>
      </div>
      <div>
        <div>Intellect: {{ character.intellect }}</div>
        <div>Toughness: {{ character.toughness }}</div>
        <div>Luck: {{ character.luck }}</div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
