{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

  <div class="header">
        <h1>Welcome back, {{ username }}</h1>
        <a href="{% url 'new_character' %}" class="btn btn-secondary">Add Character</a>
  </div>
  </br>
  <div class="container">
    {% for character in characters %}
    <div class="content-wrap">
      <div class="name">
        <h3>{{ character.name }}</h5>
        <div>Age: {{ character.age }} | Location: {{ character.location }} | Occupation: {{ character.occupation }}</div>
      </div>
      <div class="stats">
        <div>Speed: {{ character.speed }} Stamina: {{ character.stamina }} Strength: {{ character.strength }}</div>
        <div>Intellect: {{ character.intellect }} Toughness: {{ character.toughness }} Luck: {{ character.luck }}</div>
      </div>
      <ul class="buttons">
          <a href="{% url 'profile' %}{{character.id}}/" class="btn btn-secondary">Play</a>
          <a href="{% url 'edit_character' character.id %}" class="btn btn-secondary">Edit</a>
          <a href="{% url 'delete_character' character.id %}" class="btn btn-secondary">Delete</a>
      </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}
