{% extends 'base.html' %}
{% block content %}

<h1>All items</h1>
{% for item in items %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ item.name }}</span>
            <p>Description: {{ item.description }}</p>
            <p>Type: {{ item.type }}</p>
            <div class="card-action">
                <a href="{% url 'item_edit' item.id %}" method="post">
                {% csrf_token %}
                EDIT</a>
            </div>
        </div>
    </div>
  </a>
{% endfor %}



{% endblock %}