{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">
{% endblock %}

{% block content %}
    <h2 class="heading">All items</h2>
    <div class="container">
        {% for item in items %}
            <div class="content-item">
                <h5>{{ item.name }}</h5>
                <div>Description: {{ item.description }}</div>
                <div>Type: {{ item.type }}</div>
                <div>
                    <a href="{% url 'item_edit' item.id %}" method="post">
                    {% csrf_token %}
                    EDIT</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}