{% extends 'base.html' %}
{% block content %}

<h2>Play Wasteland. Is the end is near?</h2>
{% for log in logs  %}
<div class="card">
    <div class="card-content">
         <span class="card-title"><b>Day:</b> {{ log.created_at }}</span>
         <p>{{ log.reaction.situation_source}}: {{ log.reaction.situation_source.description}}</p>
         <p>{{ log.reaction}}</p>
         <p>{{ log.reaction.situation_destination}}: {{ log.reaction.situation_destination.description}}</p>
    </div>
</div>
{% endfor %}
         <form action="{% url 'character_play' character.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">submit</button>
        </form>

{% endblock %}
