{% extends 'base.html' %}
{% comment %} # Markup for displaying associated items {% endcomment %}
{% block content %}
<div class="row">
  <div class="col s6">
    <h3>{{ character.name }}'s Items</h3>
    {% if character.items.count %}
      {% for item in character.items.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ item.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Items :(</h5>
    {% endif %}
  </div>

  {% endblock %}