{% extends 'base.html' %}
{% comment %} # Markup for displaying associated items {% endcomment %}
{% block content %}
<div class="row">
  <div class="col s6">
    <h1>{{ character.name }}</h1>
    <h2>Age:{{ character.age }}</h2>
    <h2>Location:{{ character.location }}</h2>
    <h2>Enter Wasteland:</h2>
    <a href="{% url 'character_play' character.id %}">PLAY</a>

    <h3>Items</h3>
    {% if character.items.count %}
      {% for item in character.items.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <b>{{ item.name }}</b></span>
          </div>
              Description: {{ item.description }}
        </div>
      {% endfor %}
    {% else %}
      <h5>No Items :(</h5>
    {% endif %}
  </div>

  {% endblock %}