.container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  text-align: center;
}
.content {
  background-color: #96302992;
}
/*
@media only screen and (max-width: 800px) {
  .container {
    display: block;
    text-align: center;
  }
} */
