.container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  background-color: #96302992;
  color: rgba(250, 245, 245, 0.845);
  padding-top: 2em;
  padding-bottom: 2em;
}

@media only screen and (max-width: 800px) {
  .container {
    display: block;
    text-align: center;
  }
}
