body {
  background-image: url("../img/wasteland.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  text-align: center;
  background-color: #f5f5f5;
  position: relative;
  height: 5vh;
}

.footer-info {
  padding-top: 1vh;
}

.container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  background-color: #96302992;
  color: rgba(250, 245, 245, 0.845);
  padding-top: 2em;
  padding-bottom: 2em;
}

@media only screen and (max-width: 800px) {
  .container {
    display: block;
    text-align: center;
  }
}
