body {
  background-image: url("../img/wasteland.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Cormorant Garamond", serif;
}

h2 {
  /* font-family: "Averia Gruesa Libre", cursive; */
  /* font-family: "Rancho", cursive; */
  font-family: "Rock Salt", cursive;
}

footer {
  text-align: center;
  background-color: #f5f5f5;
  position: relative;
  height: 5vh;
}

.footer-info {
  padding-top: 1vh;
}
